#wrapper {
    // background-image: url('../../assets/bg.jpg');
    background-color: #d1e3ec;
    background-size: cover;
    height: 100vh;
}

#inner-wrapper {
    align-self: center;
    background-color: aliceblue;
    min-height: 50%;
}
#form-wrapper {
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    column-gap: 16px;
}

header{
    font-weight: 700;
    font-size: large;
}