*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;

}
.container .title{
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container .product-container{
    
    gap: 1rem;
}
.product-name{
    font-size: 1.5rem;
}
.container .product-container .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    display: block;
    flex-wrap: wrap;
}
.container .product-container .product .img{
    height: 10rem;
}