a{
    padding: 8px 12px;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    color: #363636;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    background-color: #ececec;
    color: #363636;
}
a.active-route{
    background-color: grey;
    color: white;
}

span{
    align-self: center;
}

i{
    margin-right: 8px;
}