<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <div class="text">
                    <p>Join the community of musicians <i>- Fanan</i></p>
                </div>
            </div>

            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Connexion</header>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email"
                            (blur)="updateEmailErrorMessage()" required>
                        @if (email.invalid) {
                        <mat-error>{{emailErrorMessage}}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Password</mat-label>
                        <input matInput [formControl]="password" ((blur))="updatePasswordErrorMessage()" required>
                        @if (password.invalid) {
                        <mat-error>{{passwordErrorMessage}}</mat-error>
                        }
                    </mat-form-field>
                    <!-- <a id="forgotPassword">Mot de passe oublié ?</a> -->
                    <button #loginbtn mat-flat-button [disabled]=!canLogin color="primary" [style.width]="'100%'"
                        (click)="onLogin()">Login</button>
                    <p style="margin-top: 16px;">Vous n'avez pas de compte ? <a href="/signup">Créer un compte</a></p>
                </div>
            </div>
        </div>
    </div>
</div>