#wrapper {
    // background-image: url('../../assets/bg4.jpg');
    background-color: #d1e3ec;
    background-size: cover;
    height: 100vh;
}

#inner-wrapper {
    align-self: center;
    background-color: aliceblue;
    height: 50%;
}

#side-image {
    background-image: url('../../assets/bg3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-wrapper {
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}