<div id="wrapper">
    <div class="container" style="height: 100%;">
        <div style="display: flex; height: 100%; justify-content: center;">
            <div class="row" id="inner-wrapper">
                <div class="col-6" id="side-image">
                    <p style="visibility: hidden;">Join the community of musicians <i>- Fanan</i></p>
                </div>

                <div class="col-6" id="form-wrapper">
                    <p>Connexion</p>
                    <mat-form-field [style.display]="'block'">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="name@example.com" [formControl]="email"
                            (blur)="updateEmailErrorMessage()" required>
                        @if (email.invalid) {
                        <mat-error>{{emailErrorMessage}}</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Password</mat-label>
                        <input matInput [formControl]="password" (blur)="updatePasswordErrorMessage()" required>
                        @if (password.invalid) {
                        <mat-error>{{passwordErrorMessage}}</mat-error>
                        }
                    </mat-form-field>

                    <button #loginbtn mat-flat-button [disabled]=!canLogin color="primary" [style.display]="'block'"
                        (click)="onLogin()">Login</button>
                    <p style="margin-top: 16px;">Vous n'avez pas de compte ?<a routerLink="/signup">Créer un compte</a></p>
                </div>
            </div>
        </div>
    </div>
</div>