<div class="widget">
    <div class="widgetHeader light">
        <h2 class="title">Informations générales</h2>
    </div>
    <div class="widgetCont">
        <div class="formStyle">
            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Code étudiant</dt>
                    <dd class="col-md-3" id="codeEleve">{{user.id}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Nom Complet</dt>
                    <dd class="col-md-3">{{user.firstName}} {{user.lastName}}</dd>
                </dl>
            </div>

            <!-- Add more general information fields as needed -->
            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Address émail</dt>
                    <dd class="col-md-3">{{user.email}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Téléphone</dt>
                    <dd class="col-md-3">{{user.phone}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">CIN</dt>
                    <dd class="col-md-3">{{user.cin}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Date de naissance</dt>
                    <dd class="col-md-3">{{user.birthDate.toLocaleDateString()}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Nationalité</dt>
                    <dd class="col-md-3">{{user.nationality}}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Résidence</dt>
                    <dd class="col-md-3">{{user.residentCountry}}-{{user.residentState}}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Address</dt>
                    <dd class="col-md-3">{{user.address}}</dd>
                </dl>
            </div>
        </div>

    </div>
</div>


<div class="widget">
    <div class="widgetHeader light">
        <h2 class="title">Baccalauréat</h2>
    </div>
    <div class="widgetCont">
        <div class="formStyle">
            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Système d'étude</dt>
                    <dd class="col-md-3" id="codeEleve">{{user.id}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Série</dt>
                    <dd class="col-md-3">{{user.firstName}} {{user.lastName}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Option</dt>
                    <dd class="col-md-3">{{user.email}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Niveau d'études</dt>
                    <dd class="col-md-3">{{user.phone}}</dd>
                </dl>
            </div>

            <div class="col-md-12">
                <dl>
                    <dt class="col-md-3">Établissement</dt>
                    <dd class="col-md-3">{{user.cin}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<span>
    <div class="row">
        <div class="col-md-6 ">
            <div class="widget">
                <div class="widgetHeader light">
                    <h2 class="title">Informations générales</h2>
                </div>
                <div class="widgetCont">
                    <div class="formStyle">
                        <!-- Another set of general information fields -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 ">
            <div class="widget">
                <div class="widgetHeader light">
                    <h2 class="title">Informations générales</h2>
                </div>
                <div class="widgetCont">
                    <div class="formStyle">
                        <!-- Another set of general information fields -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>

    <!-- <div class="d-flex justify-content-between mb-3 align-items-center">
    <p class="m-0">Mon cursus</p>
    <a href="#"
        style="background-color: rgb(77, 145, 122); display: flex; padding: 8px; text-decoration: none; color: white;">
        <p class="m-0 align-self-center">Modifier mon cursus</p>
    </a>
</div>
<div class="alert alert-info d-flex align-items-center" role="alert">
    <p>Si vous avez opté pour <strong>un programme en <span ul>ingénierie</span> ou en <span
                ul>architecture</span></strong>, merci de renseigner vos notes obtenues
        respectivement à ceux mentionnés sur vos bulletins scolaires</p>
</div>
<div class="row">
    <div class="col">
        <div>
            <p>Informations générales</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom complete</td>
                        <td class="fw-bold" style="text-transform: uppercase;">{{user.civility}}. {{user.firstName}} {{user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Code étudiant</td>
                        <td class="fw-bold">{{user.id}}</td>
                    </tr>
                    <tr>
                        <td>Adresse Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>CIN</td>
                        <td>{{user.cin}}</td>
                    </tr>
                    <tr>
                        <td>Date de naissance</td>
                        <td>{{user.birthDate.toLocaleDateString()}}</td>
                    </tr>
                    <tr>
                        <td>Nationalité</td>
                        <td>{{user.nationality}}</td>
                    </tr>
                    <tr>
                        <td>Résidence</td>
                        <td>{{user.residentState}} - {{user.residentCountry}}</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>{{user.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>Baccalauréat</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Système d'étude</td>
                        <td>{{user.bacStudySystem}} | Massar: {{user.massar}}</td>
                    </tr>
                    <tr>
                        <td>Série</td>
                        <td>{{user.bacSerie}}</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                        <td>{{user.bacOption}}</td>
                    </tr>
                    <tr>
                        <td>Niveau d'études</td>
                        <td>{{user.bacLevel}}</td>
                    </tr>
                    <tr>
                        <td>Établissement</td>
                        <td>{{user.bacInstitution}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="mb-4">
            <p>Notes de l'année terminale (2ème année du Bac)</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>MATIÈRES</th>
                        <th>1ER SEMESTRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Anglais</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                    <tr>
                        <td>Mathématiques</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                    <tr>
                        <td>Physique</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-4">
            <p>Note de l’examen Régional</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>FRANÇAIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-control" type="number" title="" placeholder=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="mb-4 btn btn-primary" style="width: 100%;">Enregistrer les modifications</button>
            <em style="font-size: small;">Veuillez noter que l'Université Internationale de Rabat se réserve le droit d’annuler votre candidature ou, dans le cas de réussite au concours, votre demande d'inscription si les notes déclarées précédemment ne concordent pas avec celles de votre relevé de notes</em>
        </div>
    </div>
</div> -->