

@media (max-width: 768px) {
    .col-md-12 {
        width: 100%; 
    }
}

/* New CSS for the widget containers */
.widget {
    background-color: #ececec;
    width: 100%; 
    max-width: 700px; 
    margin: 0 auto; 
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    margin-top: 30px;
    
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.widgetHeader {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.widgetCont {
    padding: 20px; /* Increase padding for better separation */
    border: 1px solid #ccc; /* Add border for clearer distinction */
    border-radius: 10px;
    background-color: #fff; /* White background for content */
}

.blocBtn {
    margin-top: 15px; /* Add space above buttons */
    
}

/* Additional CSS for form elements */
.form-control {
    width: 80%;
    margin-bottom: 15px; 
}

.formItem {
    margin-bottom: 15px; /* Add space below form items */
}

.selectbox,
.form-group {
    margin-bottom: 15px; /* Add space below select boxes and form groups */
}

/* Adjust styling for checkboxes and labels */
label {
    display: block; /* Ensure labels are on their own line */
}



 span[ul]{
     text-decoration: underline;
 }