.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.title{
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.widget {
    background-color: #ececec;
    width: 100%; 
    max-width: 700px; 
    margin: 0 auto; 
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    margin-top: 30px;
    
}
.titlee{
    text-align: center;
    margin-bottom: 20px;
}

.widgetHeader {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.widgetCont {
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.blocBtn {
    margin-top: 15px; 
}

.form-control {
    width: 80%;
    margin-bottom: 15px; 
}

.formItem {
    margin-bottom: 15px; 
}

.selectbox,
.form-group {
    margin-bottom: 15px; 
}

label {
    display: block; 
}



 span[ul]{
     text-decoration: underline;
 }