<div class="container">
    <h2 class="title">Mon Cursus</h2>
<div class="widget">
    <div class="widgetHeader light">
        <h2 class="titlee">Informations générales</h2>
    </div>
    <div class="widgetCont">
        <div class="formStyle">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom complete</td>
                        <td class="fw-bold" style="text-transform: uppercase;">{{user?.civility}}. {{user?.firstName}} {{user?.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Code étudiant</td>
                        <td class="fw-bold">{{user?.id}}</td>
                    </tr>
                    <tr>
                        <td>Adresse Email</td>
                        <td>{{user?.email}}</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>{{user?.phone}}</td>
                    </tr>
                    <tr>
                        <td>CIN</td>
                        <td>{{user?.cin}}</td>
                    </tr>
                    <tr>
                        <td>Date de naissance</td>
                        <td>{{user?.birthDate?.toLocaleDateString}}</td>
                    </tr>
                    <tr>
                        <td>Nationalité</td>
                        <td>{{user?.nationality}}</td>
                    </tr>
                    <tr>
                        <td>Résidence</td>
                        <td>{{user?.residentState}} - {{user?.residentCountry}}</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>{{user?.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="widget">
    <div class="widgetHeader light">
        <h2 class="titlee">Baccalauréat</h2>
    </div>
    <div class="widgetCont">
        <div class="formStyle">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Système d'étude</td>
                        <td>{{user?.educationSystem}} | Massar: {{user?.massar}}</td>
                    </tr>
                    <tr>
                        <td>Série</td>
                        <td>{{user?.bacSerie}}</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                        <td>{{user?.bacOption}}</td>
                    </tr>
                    <tr>
                        <td>Niveau d'études</td>
                        <td>{{user?.bacLevel}}</td>
                    </tr>
                    <tr>
                        <td>Établissement</td>
                        <td>{{user?.bacInstitution}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-6 ">
            <div class="widget">
                <div class="widgetHeader light">
                    <h2 class="titlee">Notes de l'année terminale (2ème année du Bac)</h2>
                </div>
                <div class="widgetCont">
                    <div class="formStyle">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>MATIÈRES</th>
                                    <th>Examen national</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Anglais</td>
                                    <td><input class="form-control" type="number"></td>
                                </tr>
                                <tr>
                                    <td>Mathématiques</td>
                                    <td><input class="form-control" type="number"></td>
                                </tr>
                                <tr>
                                    <td>Physique</td>
                                    <td><input class="form-control" type="number"></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 ">
            <div class="widget">
                <div class="widgetHeader light">
                    <h2 class="titlee">Note de l’examen Régional</h2>
                </div>
                <div class="widgetCont">
                    <div class="formStyle">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>FRANÇAIS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-control" type="number" title="" placeholder=""></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="d-flex justify-content-center">
        <button class="blocBtn btn btn-success" type="button">Confirmer vos informations</button>
    </div>
</div>

    <!--<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-4 side-image">
                <div class="text">
                    <p>Join the community of musicians <i>- school</i></p>
                </div>
            </div>

            <div class="col-md-8 right">
                <div class="container">
                    <header>Bienvenue </header>
                    <form action="">
                        <div class="form-first">
                            <div class="details">
                                <span class="title">Veuillez renseigner les informations demandées</span>
                                <div class="fields">

                                    <div class="col-md-12 form-group radio_input">
                                        <label>Civilité (∗) :</label>
                                        <label class="container_radio mr-3">Mlle
                                            <input type="radio" name="obtenueField" value="Oui" id="moyYes"
                                                class="required">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio mr-3">Mme
                                            <input type="radio" name="obtenueField" value="Non" id="moyNo"
                                                class="required" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio mr-3">M
                                            <input type="radio" name="obtenueField" value="Non" id="moyNo"
                                                class="required" checked="">
                                            <span class="checkmark"></span>
                                        </label>


                                    </div>
                                    <span style="display: block;"></span>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-active fl-is-required">
                                                    <label for="nationaliteField" class="fl-label">Nationalité
                                                        (∗)</label>
                                                    <select class="form-control required fl-select"
                                                        name="nationaliteField" id="nationaliteField">
                                                        <option value="">Nationalité</option>
                                                        @for (country of countries; track $index) {
                                                        <option value="{{country.name}}">{{country.name}}</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="divCIN">
                                        <div class="form-group">
                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label for="cinField"
                                                    class="fl-label">N° CIN (∗)</label><input type="text"
                                                    name="cinField" id="cinField" class="form-control required fl-input"
                                                    placeholder="N° CIN (∗)" maxlength="8"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="divPasseport" style="display: none;">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="passeportField"
                                                    class="fl-label">N° Passeport (∗)</label><input type="text"
                                                    name="passeportField" id="passeportField"
                                                    class="form-control fl-input" placeholder="N° Passeport (∗)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-active fl-is-required">
                                                    <label for="paysResidenceField" class="fl-label">Pays de
                                                        résidence (∗)</label>
                                                    <select class="form-control required fl-select"
                                                        name="paysResidenceField" id="paysResidenceField"
                                                        [(ngModel)]="selectedResidenceCountry"
                                                        (change)="onResidenceCountryChanged()">
                                                        <option value="Pays de résidence" selected>Pays de résidence</option>
                                                        @for (country of countries; track $index) {
                                                        <option value="{{country.name}}">{{country.name}}</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-select fl-is-required"><label
                                                    for="villeResidenceField" class="fl-label">Ville de résidence
                                                    (∗)</label><select class="form-control required fl-select"
                                                    name="villeResidenceField" id="villeResidenceField">
                                                    <option value="">Ville de résidence</option>
                                                    @for (city of cities; track $index) {
                                                    <option [value]="city">{{city}}</option>
                                                    }
                                                </select></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="adressePostaleField"
                                                    class="fl-label">Adresse postale</label><input type="text"
                                                    name="adressePostaleField" id="adressePostaleField"
                                                    class="form-control fl-input" autocomplete="off" value=""
                                                    placeholder="Adresse postale" style="width: 95%"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label
                                                    for="dateNaissanceField" class="fl-label">Date de naissance
                                                    (∗)</label><input type="date" name="dateNaissanceField"
                                                    id="dateNaissanceField"
                                                    class="form-control datepicker required fl-input" autocomplete="off"
                                                    placeholder="Date de naissance (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-required"><label
                                                        for="systemEtudeField" class="fl-label">Système d'étude
                                                        (∗)</label><select class="form-control required fl-select"
                                                        name="systemEtudeField" id="systemEtudeField">
                                                        <option value="">Système d'étude</option>
                                                        <option value="1">Marocain</option>
                                                        <option value="2">Mission (Française)</option>
                                                        <option value="4">Mission (Espagnole, belge)</option>
                                                        <option value="3">Etranger</option>
                                                    </select></div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group radio_input">
                                        <label>Niveau d'études (∗) :</label>
                                        <label class="container_radio mr-3">Bac obtenu
                                            <input type="radio" name="obtenueField" value="Oui" id="moyYes"
                                                class="required" style="width: 10%; ">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="container_radio mr-3">En année terminale du Bac
                                            <input type="radio" name="obtenueField" value="Non" id="moyNo"
                                                class="required" checked="" style="width: 5%;">
                                            <span class="checkmark"></span>
                                        </label>


                                    </div>
                                </div>
                                <div class="signin">
                                    <input type="submit" class="submit" value="Suivant...">
                                </div>
                            </div>

                        </div>-->
    <!-- <div class="d-flex justify-content-between mb-3 align-items-center" CODE DIAL SOUALAYMAN>
    <p class="m-0">Mon cursus</p>
    <a href="#"
        style="background-color: rgb(77, 145, 122); display: flex; padding: 8px; text-decoration: none; color: white;">
        <p class="m-0 align-self-center">Modifier mon cursus</p>
    </a>
</div>
<div class="alert alert-info d-flex align-items-center" role="alert">
    <p>Si vous avez opté pour <strong>un programme en <span ul>ingénierie</span> ou en <span
                ul>architecture</span></strong>, merci de renseigner vos notes obtenues
        respectivement à ceux mentionnés sur vos bulletins scolaires</p>
</div>
<div class="row">
    <div class="col">
        <div>
            <p>Informations générales</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nom complete</td>
                        <td class="fw-bold" style="text-transform: uppercase;">{{user.civility}}. {{user.firstName}} {{user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Code étudiant</td>
                        <td class="fw-bold">{{user.id}}</td>
                    </tr>
                    <tr>
                        <td>Adresse Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>CIN</td>
                        <td>{{user.cin}}</td>
                    </tr>
                    <tr>
                        <td>Date de naissance</td>
                        <td>{{user.birthDate.toLocaleDateString()}}</td>
                    </tr>
                    <tr>
                        <td>Nationalité</td>
                        <td>{{user.nationality}}</td>
                    </tr>
                    <tr>
                        <td>Résidence</td>
                        <td>{{user.residentState}} - {{user.residentCountry}}</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>{{user.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>Baccalauréat</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Système d'étude</td>
                        <td>{{user.bacStudySystem}} | Massar: {{user.massar}}</td>
                    </tr>
                    <tr>
                        <td>Série</td>
                        <td>{{user.bacSerie}}</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                        <td>{{user.bacOption}}</td>
                    </tr>
                    <tr>
                        <td>Niveau d'études</td>
                        <td>{{user.bacLevel}}</td>
                    </tr>
                    <tr>
                        <td>Établissement</td>
                        <td>{{user.bacInstitution}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="mb-4">
            <p>Notes de l'année terminale (2ème année du Bac)</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>MATIÈRES</th>
                        <th>1ER SEMESTRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Anglais</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                    <tr>
                        <td>Mathématiques</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                    <tr>
                        <td>Physique</td>
                        <td><input class="form-control" type="number"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-4">
            <p>Note de l’examen Régional</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>FRANÇAIS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-control" type="number" title="" placeholder=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="mb-4 btn btn-primary" style="width: 100%;">Enregistrer les modifications</button>
            <em style="font-size: small;">Veuillez noter que l'Université Internationale de Rabat se réserve le droit d’annuler votre candidature ou, dans le cas de réussite au concours, votre demande d'inscription si les notes déclarées précédemment ne concordent pas avec celles de votre relevé de notes</em>
        </div>
    </div>
</div> -->