<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-4 side-image">
                <div class="text">
                    <p>Join the community <i>- school</i></p>
                </div>
            </div>

            <div class="col-md-8 right">
                <div class="container">
                    <header class="pt-3">Bienvenue</header>
                    <form action="">
                        <div class="form-first">
                            <div class="details">
                                <span class="title">Veuillez renseigner les informations demandées</span>
                                <div class="fields">
                                    <div class="col-md-12 form-group radio_input">
                                        <label [style.color]="(civilityValid ? 'black' : 'red')">Civilité (∗) :</label>
                                        @for (cv of civilityValues; track $index) {
                                        <label class="container_radio mr-3">{{cv}}
                                            <input type="radio" [(ngModel)]="civility" name="civility"
                                                value="{{cv}}" id="moyYes" class="required" style="transform: scale(1.5); border: 1px;">
                                            <span class="checkmark"></span>
                                        </label>
                                        }
                                    </div>
                                    <span style="display: block;"></span>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-active fl-is-required">
                                                    <label for="nationaliteField" [style.color]="(nationalityValid ? 'black' : 'red')" class="fl-label">Nationalité
                                                        (∗)</label>
                                                    <select class="form-control required fl-select"
                                                        name="nationaliteField" id="nationaliteField"
                                                        [(ngModel)]="nationality">
                                                        @for (country of countries; track $index) {
                                                        <option value="{{country}}">{{country}}</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="divCIN">
                                        <div class="form-group">
                                            @if(true){
                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label for="cinField"
                                                    class="fl-label">N° CIN (∗)</label><input type="text"
                                                    name="cinField" id="cinField" class="form-control required fl-input"
                                                    [(ngModel)]="cin" placeholder="N° CIN (∗)" maxlength="8"></div>
                                            }@else{
                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label for="cinField" [style.color]="(passportNumberValid ? 'black' : 'red')"
                                                    class="fl-label">Passport (∗)</label><input type="text"
                                                    name="cinField" id="cinField" class="form-control required fl-input"
                                                    [(ngModel)]="passportNumber" placeholder="N° Passport (∗)"
                                                    maxlength="8"></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-active fl-is-required">
                                                    <label for="paysResidenceField" class="fl-label" [style.color]="(residentCountryValid ? 'black' : 'red')">Pays de résidence (∗)</label>
                                                    <select class="form-control required fl-select"
                                                        name="paysResidenceField" id="paysResidenceField"
                                                        [(ngModel)]="residentCountry"
                                                        (change)="onResidenceCountryChanged()">
                                                        <option value="Pays de résidence" selected>Pays de résidence</option>
                                                        @for (country of countries; track $index) {
                                                        <option value="{{country}}">{{country}}</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-select fl-is-required"><label [style.color]="(cityValid ? 'black' : 'red')"
                                                    for="villeResidenceField" class="fl-label">Ville de résidence
                                                    (∗)</label><select class="form-control required fl-select"
                                                    name="villeResidenceField" id="villeResidenceField"
                                                    [(ngModel)]="city">
                                                    @for (city of cities; track $index) {
                                                    <option [value]="city">{{city}}</option>
                                                    }
                                                </select></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="adressePostaleField"
                                                    class="fl-label">Adresse postale</label><input type="text"
                                                    [(ngModel)]="address" name="adressePostaleField"
                                                    class="form-control fl-input" autocomplete="off"
                                                    placeholder="Adresse postale" style="width: 95%"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label [style.color]="(birthDateValid ? 'black' : 'red')"
                                                    for="dateNaissanceField" class="fl-label">Date de naissance
                                                    (∗)</label><input type="date" name="dateNaissanceField"
                                                    id="dateNaissanceField"
                                                    class="form-control datepicker required fl-input" autocomplete="off"
                                                    placeholder="Date de naissance (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-required">
                                                    <label [style.color]="(educationSystemValid ? 'black' : 'red')" for="systemEtudeField" class="fl-label">
                                                        Système d'étude(∗)
                                                    </label>
                                                    <select class="form-control required fl-select"
                                                        name="systemEtudeField" id="systemEtudeField"
                                                        [(ngModel)]="educationSystem">
                                                        @for (item of educationSystems; track $index) {
                                                        <option value="{{item}}">{{item}}</option>
                                                        }
                                                    </select></div>

                                            </div>

                                        </div>
                                    </div>
                                    @if(educationSystem == "Etranger"){
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="styled-select clearfix">
                                                    <div class="fl-wrap fl-wrap-select fl-is-required"><label [style.color]="(educationSystemCountryValid ? 'black' : 'red')"
                                                            for="systemEtudeField" class="fl-label">Pays du système d'étude
                                                            (∗)</label><select class="form-control required fl-select"
                                                            [(ngModel)]="educationSystemCountry"
                                                            name="edCo">
                                                            @for (item of educationSystemCountries; track $index) {
                                                            <option value="{{item}}">{{item}}</option>
                                                            }
                                                        </select></div>
                                                </div>
    
                                            </div>
                                        </div>
                                    }
                                    
                                    <div class="form-group radio_input">
                                        <label [style.color]="(educationLevelValid ? 'black' : 'red')">Niveau d'études (∗) :</label>
                                        @for (lvl of educationLevels; track $index) {
                                        <label class="container_radio mr-3">{{lvl}}
                                            <input [(ngModel)]="educationLevel" type="radio" name="obtenueField" value="{{lvl}}" class="required" 
                                            style="transform: scale(0.5);">
                                            
                                        </label>
                                        }
                                    </div>
                                </div>
                                <div class="signin pb-3">
                                    <button type="button" class="submit" value="" (click)="onNext()">Suivant</button>
                                </div>
                            </div>

                        </div>