#balance, #link{
    padding: 8px;
    font-size: small; 
    font-weight: 600;
}

#balance{
    border: 1px solid darkcyan;
    color: darkcyan;
    margin-right: 16px;
}

#link {
    background-color: darkblue;
    color: white;
    text-decoration: none;
}