<div ctn>
    <img src="https://candidature.uir.ac.ma/images/logo-uir.png" logo>
    <a href="#" class="navigation-btn" nav-header>Tableau de bord</a>

    <p nav-header>Candidature</p>
    <ul>
        <li><a href="#" class="navigation-btn">Mes programmes</a></li>
        <li><a href="#" class="navigation-btn">Frais de concours</a></li>
        <li><a href="#" class="navigation-btn">Choix & Convocations</a></li>
        <li><a href="#" class="navigation-btn">Inscription</a></li>
    </ul>

    <p nav-header>Cursus</p>
    <ul>
        <li><a href="#" class="navigation-btn">Mon cursus</a></li>
        <li><a href="#" class="navigation-btn">Profil</a></li>
    </ul>
</div>