[ctn] {
    height: 100vh;
    width: 300px;
    background-color: #03407f;
    padding: 16px;
}

[logo] {
    height: 48px;
    display: block;
}

[nav-header] {
    display: block;
    margin-top: 32px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

.navigation-btn{

}