<div id="sidebar" [style.display]="isVisible ? 'block' : 'none'">
    <div id="sidebar-title">
        <img src="https://candidature.uir.ac.ma/images/logo-uir.png" alt="" logo>
    </div>
    <div id="tabs">
        <app-navlink [link]="dashboardLink" id="dashboardLink"></app-navlink>
        
        <div *ngFor="let group of linkGroup">
            <p nav-header>{{group.title}}</p>
            <ul>
                <li *ngFor="let link of group.links"><app-navlink [link]="link" routerLinkActive=""></app-navlink></li>
            </ul>
        </div>
    </div>
</div>