<div class="container">
    <h2 class="title">Mes choix</h2>
    <table mat-table [dataSource]="sessions">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Session</th>
            <td mat-cell *matCellDef="let element">
                <p>{{element.name}}</p>
                <p>{{element.date}}</p>
             </td>
        </ng-container>

        <ng-container matColumnDef="program">
            <th mat-header-cell *matHeaderCellDef>Programme</th>
            <td mat-cell *matCellDef="let element">
                <p>{{element.fieldOfStudy}} </p>
                <p>{{element.faculty}} </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="annales">
            <th mat-header-cell *matHeaderCellDef>Annales</th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef>Etat</th>
            <td mat-cell *matCellDef="let element"> {{element.examStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="résultats">
            <th mat-header-cell *matHeaderCellDef>Résultats</th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>