<p>Frais de concours</p>
<div class="row">
    <div class="col">
        <div class="frame">
            <p>Ajouter un paiement</p>
            <p>Veuillez choisir le montant de la recharge afin de régler les frais du concours, soit 750 dh (pour 1 ou 2
                filières, soit 1500 dh pour tous les programmes proposés).</p>
            <p>Veuillez choisir le mode paiement qui vous convient.</p>
            <ul>
                <li>Paiement en ligne par carte bancaire</li>
                <li>Paiement par virement</li>
                <li>Paiement par versement</li>
                <li>Paiement sur place à l’université.</li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="frame text-white" style="background-color: darkblue;">
            <p>Modalités de paiement</p>
            <p>750 DH pour 2 sessions, 1.500 DH pour un nombre illimité</p>
        </div>
        <div class="frame mt-4">
            <p style="padding: 16px; background-color: lightslategrey;">Historique des paiements</p>
            <table class="table">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Montant</td>
                    </tr>
                </thead>
            </table>
            <p class="text-center bg-primary mx-4 p-1">0.00 MAD</p>
        </div>
    </div>
</div>