<div class="">
    @if(!user?.hasConfirmedEmail && showEmailConfirm){
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Veuillez valider votre adresse e-mail en cliquant sur <button (click)="sendEmailToken()">ce lien</button>. Un mail de vérification vous sera
            envoyé
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="row">
        <div class="col-6 mb-4">
            <div class="frame">
                <div class="d-flex justify-content-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"
                        alt="" style="height: 80px;">
                </div>
                <p style="text-transform: uppercase; text-align: center; margin-top: 32px; margin-bottom: 0;">
                    {{user?.civility}}. {{user?.firstName}} {{user?.lastName}}</p>
                <p style="color: dodgerblue; text-align: center; margin: 0;">#{{user!.id}}</p>
                <div class="d-flex justify-content-between">
                    <p>Création</p>
                    <p>{{user!.joined.toDateString}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Téléphone</p>
                    <p>{{user?.phoneNumber}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>E-mail</p>
                    <p>{{user!.email}}</p>
                </div>
                <a class="button" routerLink="/portal/profil"><span>Mon profil</span></a>
            </div>
        </div>
        <div class="col-6 mb-4">
            <div class="frame">
                @for (item of stages; track $index) {
                <div class="d-flex justify-content-between py-2">
                    <div>
                        <p class="fw-bold" style="margin: 0;">{{item.name}}</p>
                        <p class="fw-light" style="margin: 0;">{{item.description}}</p>
                    </div>
                    <div class="align-self-center">
                        @if (item.isComplete) {
                        complete
                        }@else {
                        not complete
                        }
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="frame" style="background-color: darkslateblue; color: white;">
                <p>Choix de programmes</p>
                <p>Faites votre choix à partir des programmes proposés par l'UIR.</p>
                <a class="btn btn-secondary" routerLink="/portal/programmes">Choisir</a>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="frame" style="background-color: darkslateblue; color: white;">
                <p>Paiement des frais de concours</p>
                <p>750 DH pour 2 sessions, 1.500 DH pour un nombre illimité</p>
                <a class="btn btn-secondary" routerLink="/portal/frais">Recharger votre compte</a>
            </div>
        </div>

        <table mat-table [dataSource]="sessions">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Session</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef>Programme</th>
                <td mat-cell *matCellDef="let element">
                    <p>{{element.fieldOfStudy}} </p>
                    <p>{{element.faculty}} </p>
                </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Etat</th>
                <td mat-cell *matCellDef="let element"> {{element.examStatus}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>
</div>