<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-4 side-image">
                <div class="text">
                    <p>Join the community of musicians <i>- Fanan</i></p>
                </div>
            </div>

            <div class="col-md-8 right">
                <div class="container">
                    <header>Bienvenue</header>
                    <form action="post">
                        <div class="form-first">
                            <div class="details">
                                <span class="title">Veuillez renseigner les informations demandées</span>
                                <div class="fields">

                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-select"><label for="anneeObtentionField"
                                                    class="fl-label">Année d'obtention du Bac (∗)</label><select
                                                    class="form-control fl-select required" name="anneeObtentionField"
                                                    id="anneeObtentionField">
                                                    <option value="">Année d'obtention du Bac</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2000">2000</option>
                                                </select></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select"><label for="niveauEtudeField"
                                                        class="fl-label">Niveau d'étude (∗)</label><select
                                                        class="form-control fl-select valid required"
                                                        name="niveauEtudeField" id="niveauEtudeField">
                                                        <option value="">Niveau d'étude</option>
                                                        <option value="Bachelier">Bachelier</option>
                                                        <option value="Bac+1">Bac+1</option>
                                                        <option value="Bac+2">Bac+2</option>
                                                        <option value="Bac+3">Bac+3</option>
                                                        <option value="Bac+4">Bac+4</option>
                                                        <option value="Bac+5">Bac+5</option>
                                                    </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="noteTerminalField"
                                                    class="fl-label">Moyenne générale du Bac (∗)</label><input
                                                    type="number" step="0.01" min="0" max="20" name="noteTerminalField"
                                                    id="noteTerminalField" class="form-control fl-input required"
                                                    placeholder="Moyenne générale du Bac (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="noteCCDiv">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="noteCCField"
                                                    class="fl-label">Note du contrôle continu (∗)</label><input
                                                    type="number" step="0.01" min="0" max="20" name="noteCCField"
                                                    id="noteCCField" class="form-control fl-input required"
                                                    placeholder="Note du contrôle continu (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="noteRegionalDiv">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="noteRegionalField"
                                                    class="fl-label">Note de l’examen Régional (∗)</label><input
                                                    type="number" step="0.01" min="0" max="20" name="noteRegionalField"
                                                    id="noteRegionalField" class="form-control fl-input required"
                                                    placeholder="Note de l’examen Régional (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="noteNationalDiv" >
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input"><label for="noteNationalField"
                                                    class="fl-label">Note de l’examen National (∗)</label><input
                                                    type="number" step="0.01" min="0" max="20" name="noteNationalField"
                                                    id="noteNationalField" class="form-control fl-input required"
                                                    placeholder="Note de l’examen National (∗)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-required"><label
                                                        for="serieField" class="fl-label">Série (∗)</label><select
                                                        class="form-control required fl-select" name="serieField"
                                                        id="serieField">
                                                        @for (item of items; track $index) {}
                                                        <option value="">Choisissez une série</option>
                                                        
                                                    </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-required"><label for="bacField"
                                                        class="fl-label">Option (∗)</label><select
                                                        class="form-control required fl-select" name="bacField"
                                                        id="bacField">
                                                        <option value="Choisissez une option">Choisissez une option</option>
                                                    </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="divCodeMassar" >

                                            <div class="fl-wrap fl-wrap-input"><label for="massarField"
                                                    class="fl-label">Code massar</label><input type="text"
                                                    name="massarField" id="massarField"
                                                    class="form-control fl-input required" placeholder="Code massar"
                                                    maxlength="10" [(ngModel)]="massarCode"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="styled-select clearfix">
                                                <div class="fl-wrap fl-wrap-select fl-is-required"><label
                                                        for="typeSystemField" class="fl-label">Type d'établissement
                                                        (∗)</label><select class="form-control required fl-select"
                                                        name="typeSystemField" id="typeSystemField"
                                                        [(ngModel)]="institutionType">
                                                        @for (item of listOfInstitutions; track $index) {
                                                            <option value="{{item}}">{{item}}</option>
                                                        }
                                                    </select></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <div class="fl-wrap fl-wrap-input fl-is-required"><label
                                                    for="etablissementField" class="fl-label">Nom de votre
                                                    établissement (∗)</label><input type="text"
                                                    name="etablissementField" id="etablissementField" value=""
                                                    class="form-control required fl-input"
                                                    placeholder="Nom de votre établissement (∗)"
                                                    [(ngModel)]="institutionName"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox mt-2">
                                            <input type="checkbox" class="custom-control-input" id="checkData">
                                            <label class="custom-control-label fs-9px" for="checkData">Veuillez-vous
                                                assurer que les informations saisies sont correctes avant
                                                d’enregistrer</label>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                        <div class="signin">
                            <input type="submit" class="submit" value="Envoyer">
                        </div>